.cardTop1 {
    background-color: #8CFFBA;
}

.title1 {
    color: #166F39;
}

.cardBottom1 {
    background-color: #CFFFE2;
}

.subtitle1 {
    color: #000000;
}

.button1 {
    background: #FCED84;
    color: #000000;
}
