.cardTop3 {
  background-color: #EEB200;
}

.title3 {
  color: #502F7E;
}

.cardBottom3 {
  background-color: #FFE086;
}

.subtitle3 {
  color: #502F7E;
}

.button3 {
  background: #FFFFFF;
  color: #502F7E;
}