.cardTop2 {
  background-color: #A6CFE2;
}

.title2 {
  color: #0B0C11;
}

.cardBottom2 {
  background-color: #C2DCE9;
}

.subtitle2 {
  color: #000000;
}

.button2 {
  background: #0B0C11;
  color: #FFD600;
}